button {
    font-size: 2rem;
    border: none;
    background-color: var(--bg-tertiary-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin: 10px;
    transition: color, background 0.1s ease-in-out;
}

button:hover {
    background-color: var(--bg-tertiary-hover-color);
    color: var(--primary-text-color);
}

.hero-blog {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

.hero-blog  h1{
    margin-top: 2em;
}

.btn-group {
    width: 45%;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

#article-one {
    width: 60%;
}

.hide {
    display: none;
}