.project-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}

.project-card {
    height: 180px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--bg-primary-color);

}

