<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style/stylesheets/global.css" />
    <link rel="stylesheet" href="/style/stylesheets/about.css" />
    <link rel="icon" href="../style/assets/page-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yago Santana</title>
  </head>
  <body>
    <nav>
      <ul class="nav-itens">
        <li><img src="../style/assets/logo.png" alt="" /></li>
        <li><a href="./about.html">Sobre</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./project.html">Projetos</a></li>
      </ul>
    </nav>
    <main>
      <div class="hero">
        <section>
          <h1>Prazer</h1>
          <p>
            Meu nome é Yago Santana e sou estudante de Análise e Desenvolvimento
            de Sistemas. Comecei a me dedicar ao Desenvolvimento Web em 2022 e
            desde então tenho adquirido experiência e conhecimento nessa área.
          </p>
          <br>
          <p>
            Minha paixão pelo desenvolvimento web tem impulsionado minha
            trajetória até agora. Tenho explorado tanto o lado do back-end
            quanto do front-end, e estou constantemente aprimorando minhas
            habilidades.
          </p>
          <br>
          <p>
            Ao longo do meu curso, tenho adquirido sólidos conhecimentos lógicos
            na base da programação, o que tem sido fundamental para a criação
            dos meus próprios projetos. Além disso, na universidade, tenho a
            oportunidade de participar de projetos excelentes nos quais
            ensinamos desenvolvimento web, programação de jogos e informática
            básica para crianças e adolescentes. Essa experiência de ensinar
            também tem me proporcionado aprendizado contínuo.
          </p>
        </section>

        <section>
          <h1>Aqui você irá encontrar</h1>
          <p>
            <a href="./blog.html">Blog</a> sobre a minha jornada de um mês desenvolvendo
            com React.
          </p>
          <br>
          <p>
            Uma lista de <a href="./project.html">projetos</a> com descrições e comentarios
            sobre minha experiência desenvolvendo cada um deles.
          </p>
        </section>
      </div>
    </main>
    <ul class="footer-itens" >
      <li class="icon">
        <a href="https://github.com/yagpdc" target="_blank"><img src="/style/assets/git-icon.png" alt="" /></a>
      </li>
      <li class="icon">
        <a  href="https://www.linkedin.com/in/yagosantanaf/" target="_blank" ><img src="/style/assets/in-icon.png" alt="" /></a>
      </li>
      <li class="icon">
        <a  href="https://twitter.com/yagpdc16" target="_blank"><img src="/style/assets/twt-icon.png" alt="" /></a>
      </li> 
    </ul>
  </body>
</html>
