<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style/stylesheets/global.css" />
    <link rel="stylesheet" href="/style/stylesheets/blog.css" />
    <link rel="icon" href="../style/assets/page-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul class="nav-itens">
        <li><img src="../style/assets/logo.png" alt="" /></li>
        <li><a href="/index.html">Sobre</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./project.html">Projetos</a></li>
      </ul>
    </nav>
    <main>
      <section class="hero-blog">
        <h1>
          <span><</span> Blog de desenvolvimento com React <span> /></span>
        </h1>
        <p>
          No mes de junho irei diariamente desenvolver TODOS OS DIAS algo novo
          com React e vou compartilhar minha experiencia e aprendizado neste
          humilde blog
        </p>
      </section>
      <section class="btn-group">
        <button id="btn1">1</button>
        <button id="btn2">2</button>
        <button id="btn3">3</button>
        <button id="btn4">4</button>
        <button id="btn5">5</button>
        <button id="btn6">6</button>
        <button id="btn7">7</button>
        <button id="btn8">8</button>
        <button id="btn9">9</button>
        <button id="btn10">10</button>
        <button id="btn11">11</button>
        <button id="btn12">12</button>
        <button id="btn13">13</button>
        <button id="btn14">14</button>
        <button id="btn15">15</button>
        <button id="btn16">16</button>
        <button id="btn17">17</button>
        <button id="btn18">18</button>
        <button id="btn19">19</button>
        <button id="btn20">20</button>
        <button id="btn21">21</button>
        <button id="btn22">22</button>
        <button id="btn23">23</button>
        <button id="btn24">24</button>
        <button id="btn25">25</button>
        <button id="btn26">26</button>
        <button id="btn27">27</button>
        <button id="btn28">28</button>
        <button id="btn29">29</button>
        <button id="btn30">30</button>
      </section>

      <section id="article-one" class="hide">
        <h1>Dia um</h1>
        <p>
          Hoje tive meu primeiro dia trabalhando com React e decidi utilizar o
          comando <span>npm create vite@latest </span>para gerar meu projeto
          React. Durante a configuração, escolhi o TypeScript como minha
          linguagem preferida. Sempre que começo a aprender um novo framework ou
          linguagem, gosto de me familiarizar com os métodos mais comumente
          utilizados nesse contexto.
        </p>
        <br />
        <p>
          Meu primeiro projeto será a criação de um teclado numérico (numpad),
          que renderiza uma tela com a mensagem "Senha correta" quando a senha
          correta é digitada. Caso a senha esteja incorreta, exibirá uma
          mensagem de "Senha incorreta" e reiniciará a lista de senhas. Para
          começar, decidi criar os botões utilizando o método map, que é
          amplamente utilizado no React. Aqui está o código que utilizei para
          criar os botões:
        </p>

        <br />
        <code>
          CODIGO AQUI
          <!-- const num: number[] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0];

          {num.map((number, index) => (
            <button
              key={index}
              onClick={() => handleClicksFunction(number)}
            >
              {number}
            </button>
          ))} -->
        </code>
        <p>
          Depois de tentar algumas abordagens diferentes para entender a
          sintaxe, descobri que a melhor forma era usar o operador spread (...)
          na função handleClicksFunction para adicionar o número clicado ao
          array. Aqui está o código:
        </p>
        <code>
          CODIGO AQUI
          <!-- const handleClicksFunction = (number: number): void => {
  setNumbersClicked((numbers) => [...numbers, number]);
}
 -->
        </code>
        <p>
          Além disso, criei uma div utilizando novamente o método map para
          exibir os números clicados na tela:
        </p>
        <code>
          CODIGO AQUI
          <!-- {numbersClicked.map((number, index) => (
            <div key={index}>{number}</div>
          ))} -->
        </code>
        <p>
          Agora, tenho uma tela com 10 botões que, quando clicados, mostram os
          números selecionados na tela. Esse foi meu primeiro dia trabalhando
          com React e estou animado para continuar explorando e aprendendo mais
          sobre esse framework poderoso. Fique atento aos próximos posts para
          acompanhar o progresso do meu projeto!
        </p>
          <img src="" alt="">
          <!-- IMAGEM DO CODIGO FINAL COM A IMG DO PROJETO COMO ESTA AGORA -->
      </section>
    </main>

    <script src="/javascript/app.js"></script>
  </body>
</html>
