<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style/stylesheets/global.css" />
    <link rel="stylesheet" href="/style/stylesheets/blog.css" />
    <link rel="icon" href="../style/assets/page-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul class="nav-itens">
        <li><img src="../style/assets/logo.png" alt="" /></li>
        <li><a href="/index.html">Sobre</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./project.html">Projetos</a></li>
      </ul>
    </nav>
    <main>
      <section class="hero-blog">
        <h1>
          <span><</span> Blog de desenvolvimento com React <span> /></span>
        </h1>
        <p>
          No mes de junho irei diariamente desenvolver TODOS OS DIAS algo novo
          com React e vou compartilhar minha experiencia e aprendizado neste
          humilde blog
        </p>
      </section>
      <section class="btn-group">
        <button><a href="paginas/dia1.html">1</a></button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>10</button>
        <button>11</button>
        <button>12</button>
        <button>13</button>
        <button>14</button>
        <button>15</button>
        <button>16</button>
        <button>17</button>
        <button>18</button>
        <button>19</button>
        <button>20</button>
        <button>21</button>
        <button>22</button>
        <button>23</button>
        <button>24</button>
        <button>25</button>
        <button>26</button>
        <button>27</button>
        <button>28</button>
        <button>29</button>
        <button>30</button>
      </section>
    </main>
  </body>
</html>
