<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/style/stylesheets/global.css" />
    <link rel="stylesheet" href="/style/stylesheets/project.css" />
    <link rel="icon" href="../style/assets/page-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul class="nav-itens">
        <li><img src="../style/assets/logo.png" alt="" /></li>
        <li><a href="./about.html">Sobre</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./project.html">Projetos</a></li>
      </ul>
    </nav>
    <main>
      <h1><span><</span> Projetos<span> /></span></h1>
      <div class="project-container">
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
        <div class="project-card"></div>
      </div>
    </main>
  </body>
</html>
